<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Authenticator</name>
    <version>100</version>
    <defaultcat> Account Information</defaultcat>
    <desc>Allow you to add TOTP Authenticator</desc>
    <authorname>Diablo925</authorname>
    <authoremail>carsten@alio.dk</authoremail>
    <authorurl>http://Alio.dk/</authorurl>
    <updateurl></updateurl>
</module>